<h1>Registrate parar continuar o inicia seccion</h1>

<div>
<form class="mb-3" action ="/api/sessions/login" method="post">
Email: <input class="form-control"  type="text" name="email">
Passsword: <input class="form-control" type="text" name = "password">

<input class="btn btn-primary" type="submit" value="Entrar"> | <a href="/register">Registrarse</a>
</form>

</div>