<h1>inicia sesion o Registrate parar continuar</h1>

<div style="width: 50%; margin: 0 auto;>
<form class="mb-3" action ="/api/sessions/login" method="post">
Email: <input class="form-control"  type="text" name="email">
Passsword: <input class="form-control" type="password" name = "password">

<input class="btn btn-primary" type="submit" value="Entrar"> | <a href="/register">Registrarse</a>
</form>

</div>