<h1>Registrarse</h1>

<form class="mb-3" action="/api/sessions/register" method="post">
Nombre: <input class="form-control" type="text" name="first_name">
Apellido: <input class="form-control" type="text" name="last_name">
Correo: <input class="form-control" type="email" name="email">
Edad: <input  class="form-control" type="Number" name="age">
Password: <input class="form-control" type="password" name="password">
<input type="submit" value="Crear"> | <a href="/">Login</a>
</form>
